---
import GitHub from "./icons/GitHub.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import React from "./icons/React.astro";
import Django from "./icons/Django.astro";
import NextJS from "./icons/NextJS.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Angular from "./icons/Angular.astro";
import AngularMaterial from "./icons/AngularMaterial.astro";

interface ITags {
  REACT: ITagsProperties;
  TAILWIND: ITagsProperties;
  DJANGO: ITagsProperties;
  NEXT: ITagsProperties;
  ANGULAR: ITagsProperties;
  ANGULAR_MATERIAL: ITagsProperties;
}

interface ITagsProperties {
  name: string;
  class: string;
  icon: AstroComponentFactory;
}

interface IProjects {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
  tags: ITagsProperties[];
}

const TAGS: ITags = {
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#0f795091] text-white",
    icon: Django,
  },
  NEXT: {
    name: "Next",
    class: "bg-gray-300 text-black",
    icon: NextJS,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-red-900 text-white",
    icon: Angular,
  },
  ANGULAR_MATERIAL: {
    name: "Angular Material",
    class: "bg-[#0e6969] text-white",
    icon: AngularMaterial,
  },
};

const PROJECTS: IProjects[] = [
  {
    title: "Generador de paleta de colores",
    description:
      "An intuitive application designed to create stunning color palettes, tailored for UX/UI designers to enhance their projects with ease and precision.",
    link: "https://palette-generator-indol.vercel.app/",
    github: "https://github.com/fernandojosemoran/palette-generator",
    image: "./palette-generator.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Agencia de Marketing",
    description:
      "Agencia de Marketing especializada en estrategias digitales, diseño web, redes sociales y posicionamiento SEO. Ayudamos a las marcas a crecer y destacar en el mercado con soluciones innovadoras y personalizadas.",
    link: "https://frontend-marketing-agency-wl1f.vercel.app",
    image: "./marketing-agency-web.webp",
    github: "https://github.com/fernandojosemoran/marketing-agency",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.DJANGO],
  },
  {
    title: "Heroes App",
    description:
      "Heroes App allows you to search for Marvel and DC superheroes. Built with Angular, it provides an easy-to-use interface for discovering your favorite heroes from both universes.",
    link: "https://hero-app-with-mean-stack.onrender.com/",
    github: "https://github.com/fernandojosemoran/HeroesApp-Angular",
    image: "./heroes-app.webp",
    tags: [TAGS.ANGULAR, TAGS.ANGULAR_MATERIAL],
  },
  {
    title: "Sistema de inventario",
    description:
      "SIM Simplified Inventory Management is an application designed for easy and organized product inventory management.",
    link: "https://simplified-inventory-management.vercel.app/",
    github: "https://github.com/fernandojosemoran/inventory-angular-project",
    image: "./heroes-app.webp",
    tags: [TAGS.ANGULAR, TAGS.ANGULAR_MATERIAL],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Codigo
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Vista Previa
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
